<header class="top-0 z-50 bg-[#0A6847] text-[#FFF5E0]">
  <nav class="flex items-center justify-between px-10 py-6">
    <div class="flex gap-x-2">
      <img src="../../../assets/cookinghub.png" alt="Cooking Hub" class="w-10">
      <a href="/home" class="font-extrabold text-3xl">
        Cooking Hub
      </a>
    </div>
    <div class="flex gap-x-4 text-[#FFF5E0]">
      <a routerLink="/register">
        <button
          class="font-medium px-3 py-1 rounded-full border-[1.4px] border-[#FFF5E0] hover:bg-[#FFF5E0] hover:text-gray-900">Register</button>
      </a>
      <a routerLink="/login">
        <button
          class="font-medium px-3 py-1 rounded-full border-[1.4px] border-[#FFF5E0] hover:bg-[#FFF5E0] hover:text-gray-900">Login</button>

      </a>
    </div>
  </nav>
</header>
